<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İndex Page</title>
</head>
<body>
    <h1>Welcome to Contact Page</h1>
    <iframe src="https://giphy.com/embed/7l5al5QCZRMLIPW9Cd" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
    <a href="/">Index</a>
    <a href="/about">about</a>
    
    
</body>
</html>